<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery.js"></script>
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">HomePage</a>
            <a class="nav-item nav-link" href="/search">Searching</a>
            <a class="nav-item nav-link" href="/list">List Minutes</a>
            <a class="nav-item nav-link" href="/remove">Remove</a>
            <a class="nav-item nav-link" href="/add">Add</a>
          </div>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-1 my-sm-1" type="submit">Search</button>
          </form>
      </nav>
    <h3 class="text-success">management of Minutes of DAAC (Department Academic Advisory Committee)</h3>
    